{:client-id     "upload"
 :token-uri     "https://keycloak.neksa.no/auth/realms/private/protocol/openid-connect/token"
 :authorize-uri "https://keycloak.neksa.no/auth/realms/private/protocol/openid-connect/auth"
 :user-info-uri "https://keycloak.neksa.no/auth/realms/private/protocol/openid-connect/userinfo"
 :logout-uri    "https://keycloak.neksa.no/auth/realms/private/protocol/openid-connect/logout"
 :callback-uri  "http://localhost:3030/auth"}
