{:paths   ["src"]
 :deps    {org.clojure/clojure     {:mvn/version "1.10.1"}
           ring/ring-core          {:mvn/version "1.8.2"}
           ring/ring-jetty-adapter {:mvn/version "1.8.2"}
           ring/ring-anti-forgery  {:mvn/version "1.3.0"}
           hiccup/hiccup           {:mvn/version "2.0.0-alpha2"}
           compojure/compojure     {:mvn/version "1.6.2"}
           mount/mount             {:mvn/version "0.1.16"}
           clj-http/clj-http       {:mvn/version "3.10.3"}
           cheshire/cheshire       {:mvn/version "5.10.0"}}
 :aliases {:uberdeps {:replace-deps  {uberdeps/uberdeps {:mvn/version "1.0.4"}}
                      :replace-paths []
                      :main-opts     ["-m" "uberdeps.uberjar"]}}}
